extends ../layout/default.pug

block content
	.wrapper
		h2.title 도시 리스트
		table.city-wrap.table.table-striped
			thead.thead-light
				tr
					th 번호
					th 도시명
					th 도시설명
					th 위치
					th 인구
					th 관리
			tbody